/* CSS Document */
body{ padding:0px; margin:0px; background:#232323 url(../images/body_bg.png) repeat-y center; font-size:14px; font-family:"微软雅黑"; text-shadow:1px 1px 1px #000; color:#ddd;}
a img{ border:none;}
a{ color:#fff; text-decoration:none;}
a:hover{ text-decoration:underline; color:#ffff00;}

*{ list-style:none; margin:0px; padding:0px;}

.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}

.highlight{ color:#ffff00;}


.header{ height:40px; width:984px; margin:0 auto; background:#010101; padding:8px; text-shadow:0px 0px 5px #fff;}
.header .logo{ width:142px; height:40px; float:left;}

.header .nav{ height:40px; line-height:40px; width:800px; padding-left:170px; }
.header .nav ul li{ float:left; padding:0 10px; font-weight:bold;}

.header .user-nav{ float:right; width:140px; height:40px; line-height:40px;}
.header .user-nav ul li{ float:right; padding: 0 5px; font-size:12px;}

.main{ width:1000px; margin:0 auto; padding-top:10px;}

.footer{ text-align:center; font-family:Georgia; clear:both;}
.footer{ background:#000; width:1000px; margin:0px auto; padding:2px 0;}
.footer .copyright{ padding:15px 10px;}
.class-item{ min-height:28px; background:#333333 url(../images/class_r.jpg) no-repeat right center; line-height:28px; margin-bottom:2px; font-size:13px; clear:both;}
.class-item .item-title{ width:92px; background:url(../images/class_title_bg.png); height:28px; line-height:27px; color:#fff; float:left; padding-left:5px;}
.class-item .item-list{ padding-left:107px;}
.class-item .item-list a{ float:left; display:block; margin:0 5px;}
.video-list{  padding:8px; background:#666666; padding-bottom:20px;}
.video-list .video{ float:left; width:170px; margin:8px; padding:5px; color:#333;}
.video-list .video li{ }
.video-list .video .thumb{height:96px; background:#444; text-align:center; position:relative; padding:5px; margin-bottom:5px; box-shadow:1px 1px 1px #000;}
.video-list .video .thumb:hover{ background:#000;}
.video-list .video .thumb img{ max-width:100%; max-height:100%;}
.video-list .video .thumb .playlen{ position:absolute; bottom:0px; left:0px; padding:0 3px; color:#fff; font-size:11px; font-weight:bold; font-family:Georgia; height:16px; line-height:14px;}
.video-list .video .thumb .playlen .playlen-bg{ background:#000; opacity:0.3; position:absolute; top:0; left:0; bottom:0; right:0;}
.video-list .video .thumb .playlen .num{ position:relative;}
.video .title a{ color:#f6f681;}
.video .title a:hover{ color:#FF0;}
.video-list .video .label{ padding-left:1px; line-height:16px; color:#aaa;}
.video-list .video .label label{ display:inline-block; width:40px;}
.video-list .video .num{ font-family:Georgia; font-size:12px;}
.list-head{ height:20px; line-height:22px; padding:0 5px; margin:0 auto; padding-bottom:5px; background:#333; margin-bottom:2px; font-size:12px; color:#ccc;}
.list-head a{ margin:0 3px;}

.video-list .list-pages{ clear:both; height:20px;  padding-top:20px; text-align:center;}
.video-list .list-pages a{ display:inline-block;  background:#333; font-family:Georgia; font-size:12px; height:20px; text-align:center; margin:0 5px; text-shadow:1px 1px 1px #000; padding:0 5px;}
.video-list .list-pages a:hover{ text-decoration:none;}
.video-list .list-pages a.highlight{ font-weight:bold; }


