/* CSS Document */

.main-left{background:#666; float:left; width:698px;}
.main-right{ float:right; width:300px;}
.video-info.video{ padding:10px; }
.video-info.video .title{ padding-left:10px;}
.video-info.video .media{ padding:10px; }
.video-info.video .des{ padding:10px; line-height:22px;}
.list-head{  }
.main-right .taobao-adv{ margin-bottom:2px; background:#666; }
.main-right .video-list{ padding:1px;}
.main-right .video-list .video{ width:140px; padding:2px; margin:2px;}
.main-right .video-list .video .thumb{ }
.main-right .video-list .video .thumb img{ width:100%;}
.tag-list{ background:#666; padding:5px; margin-bottom:2px;}
.tag-list a{ margin:0 5px;}