<div class="footer">
<div class="list-head"><a href="#">关于爱游</a>| <a href="#">广告服务</a>| <a href="#">提交问题</a>| <a href="#">联系我们</a>| <a href="#">版权声明</a>| <a href="#">关于隐私</a>| <a href="#">合作伙伴</a></div>
	<div class="copyright">
    	&copy;copyright &nbsp;&nbsp; www.iyou360.com &nbsp;&nbsp; 爱游戏 爱视频
    </div>
</div>
</body>
</html>