<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/css/common.css" type="text/css" rel="stylesheet" />
{% ifequal target 'video_list'%}
<link href="/static/css/video_list.css" type="text/css" rel="stylesheet" />
<title>爱游戏 爱视频 爱游视频 www.iyou360.com</title>
{% endifequal %}
{% ifequal target 'video_show'%}
<link href="/static/css/video.css" type="text/css" rel="stylesheet" />
<title>{{video.title}}爱游戏 爱视频 爱游视频 www.iyou360.com</title>
{% endifequal %}
</head>

<body>
<div class="header">
	<div class="user-nav">
    	<ul>
        	
            <li><a href="#">收藏夹</a></li>
        </ul>
    </div>
	<div class="logo">
    	<a href=""><img src="/static/images/logo.png" /></a>
    </div>
    <div class="nav">
    	<ul>
    		<li><a href="#">首页</a></li>
    		{% for page in site_pages%}
    			<li><a href="/v/{{page.link}}.html" 
    			{% if page.open_in_blank%}
    				target="_blank"
    			{% endif %}
                {% ifequal page.link site_page.link%}
                	class="highlight"
                {% endifequal %}
    			 >{{page.name}}</a></li>
    		{% endfor %}
        </ul>
    </div>
    
</div>