{% load sitetags %}
{% load videotags %}
{% load utiltags %}
{% header 'video_show' video %}
<div class="main">
<div class="list-head">

</div>
<div class="main-right clearfix">
	<div class="taobao-adv">
			<script type="text/javascript">
        alimama_pid="mm_26948386_3266367_10704229";
        alimama_width=300;
        alimama_height=250;
        </script>
        <script src="http://a.alimama.cn/inf.js" type="text/javascript"></script>
    </div>
    <!--
    <div class="list-head">标签</div>
    <div class="tag-list">
    	<a href="#">魔兽争霸</a> <a href="#">SKY</a> <a href="#">wcg2012</a> <a href="#">人族</a>
    </div>
    -->
	<div class="list-head">最近更新</div>
	<div class="video-list clearfix">
    	<ul class="video">
        	<li class="thumb">
            	<a href="#"><img src="static/images/111.jpg" /></a>
            	<div class="playlen">                	
                	<div class="playlen-bg"></div>
                    <div class="num">20:30</div>
                </div>
            </li>
            <li class="title"><a href="#">2012年科隆游戏展魔兽世界熊猫人之谜官</a></li>
            
            <li class="createtime label"><label>发布:</label><span class="num">2012-08-15</span></li>
        </ul>
        <ul class="video">
        	<li class="thumb">
            	<a href="#"><img src="static/images/111.jpg" /></a>
            	<div class="playlen">                	
                	<div class="playlen-bg"></div>
                    <div class="num">20:30</div>
                </div>
            </li>
            <li class="title"><a href="#">年科隆游戏展魔兽世界熊猫人2012之谜官</a></li>
            
            <li class="createtime label"><label>发布:</label><span class="num">2012-08-15</span></li>
        </ul>
        <ul class="video">
        	<li class="thumb">
            	<a href="#"><img src="static/images/111.jpg" /></a>
            	<div class="playlen">                	
                	<div class="playlen-bg"></div>
                    <div class="num">20:30</div>
                </div>
            </li>
            <li class="title"><a href="#">科隆游戏展魔官</a></li>
            
            <li class="createtime label"><label>发布:</label><span class="num">2012-08-15</span></li>
        </ul>
        <ul class="video">
        	<li class="thumb">
            	<a href="#"><img src="static/images/111.jpg" /></a>
            	<div class="playlen">                	
                	<div class="playlen-bg"></div>
                    <div class="num">20:30</div>
                </div>
            </li>
            <li class="title"><a href="#">【XPTV】2012年科隆游人之谜官</a></li>
            
            <li class="createtime label"><label>发布:</label><span class="num">2012-08-15</span></li>
        </ul>
    </div>
</div>
<div class="main-left clearfix">
	<div class="video-info video">
    	<div class="title"><a href="/v_show/{{video.id}}_{{video.video_key}}">{{video.title}}</a></div>
        <div class="media">
        	<embed src="{{video.swf_url}}" quality="high" width="619" height="495" align="middle" allowScriptAccess="sameDomain" allowFullscreen="true" type="application/x-shockwave-flash"></embed>
        </div>
        <div class="ops"></div>
        <div class="des">
        	{{video.summary|safe|default:"暂无简介"}}
        </div>
    </div>
</div>
</div>

{% footer %}
