{% load sitetags %}
{% load videotags %}
{% load utiltags %}
{% header 'video_list' site_page%}
<div class="main">
	<div class="class-items">
    	{% videocategorys parent=site_page.video_category.id %}
        {% for category in videocategorys %}
        <div class="class-item clearfix">
        	<div class="item-title"><a href="{{site_page.link}}_c:{{category.id}}.html" {% ifequal c category.id %}class="highlight"{%endifequal%}>{{category.name}}</a></div>
            <div class="item-list">
            
            	 {% for child in category.children.all %}
                	<a href="{{site_page.link}}_c:{{child.id}}.html" {% ifequal c child.id %}class="highlight"{%endifequal%}>{{child.name}}</a>
                {% endfor %}   	
           
            </div>
        </div>
         {% endfor %}
       
        {% endvideocategorys %}
        
    </div>
    <div class="list-head">
    	排序： <a href="{{site_page.link}}_{% if c %}c:{{c}}{% endif %}.html">最新</a> <a href="{{site_page.link}}_o:-hits{% if c %}&c:{{c}}{% endif %}.html">浏览量</a> 
    </div>
    <div class="video-list clearfix">
    	{% videos category_id=c page=p category_recursion=1 order_by=o status=1%}

    		{% ifequal videos.paginator.count 0 %}
            还没有视频哦！
            {%else%}
            
            	{%for video in videos %}
                <ul class="video">
                <li class="thumb">
                    <a href="/v_show/{{video.id}}_{{video.video_key}}.html" target="_blank"><img src="{{video.preview_img_url}}" title="{{video.title}}" /></a>
                    <div class="playlen">                	
                        <div class="playlen-bg"></div>
                        <div class="num">{{video.play_length}}</div>
                    </div>
                </li>
                <li class="title"><a target="_blank" href="/v_show/{{video.id}}_{{video.video_key}}.html" title="{{video.title}}">{{video.title|slice:"25"}}</a></li>
                <li class="playtimes label"><label>播放:</label><span class="num">{{video.hits}}</span></li>
                <li class="createtime label"><label>发布:</label><span class="num">{{video.create_time|date:"Y-m-d"}}</span></li>
            </ul>
            {% endfor %}
            {% if videos.paginator.num_pages > 1%}
           
            <div class="list-pages">
             {% if videos.paginator.start_page_num > 1%}
            	<a href="/v/{{site_page.link}}_p:1{% if o %}&o:{{o}}{% endif %}{% if c %}&c:{{c}}{% endif %}.html">1...</a>
            {% endif %}
                {% for page_num in videos.paginator.start_page_num|get_range:videos.paginator.end_page_num_range %}
                    <a href="/v/{{site_page.link}}_p:{{page_num}}{% if o %}&o:{{o}}{% endif %}{% if c %}&c:{{c}}{% endif %}.html"
                    {% ifequal page_num videos.number%}
                    	class="highlight"
                    {% endifequal %}
                    >{{page_num}}</a>
                {% endfor %} 
                 {% if videos.paginator.end_page_num_range <= videos.paginator.num_pages%}
            	<a href="/v/{{site_page.link}}_p:{{videos.paginator.num_pages}}{% if o %}&o:{{o}}{% endif %}{% if c %}&c:{{c}}{% endif %}.html">...{{videos.paginator.num_pages}}</a>
            {% endif %}          
            </div>
           
            {% endif %}
            {%endifequal%}
        {% endvideos %}
    </div>
</div>

{% footer %}
